@use 'variables' as global;

.dialog-title {
  color: global.$text-main;
  padding-top: 1rem;
}

.dialog-label {
  font-size: 0.75rem;
  font-weight: bold;
  color: global.$text-muted;
  text-transform: uppercase;
}

.theme-input {
  background-color: global.$surface-high !important;
  color: global.$text-main;
  border: none;
  border-radius: 12px;
  padding: 0.75rem;

  &:focus {
    background-color: var(--mat-sys-surface) !important;
    border: 2px solid global.$primary-color !important;
    box-shadow: none;
  }
}

.btn-cancel {
  color: global.$text-muted;
  font-weight: 600;
  text-decoration: none;
  border: none;
  background: none;
  margin-right: 1rem;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 24px !important;
  background-color: global.$surface-low !important;
}
