<h2 mat-dialog-title class="dialog-title fw-bold border-0">
  {{ data?.id ? 'Editar Hábito' : 'Novo Hábito' }}
</h2>

<mat-dialog-content class="dialog-content">
  <form #habitForm="ngForm">
    <div class="mb-3">
      <label class="form-label dialog-label">Nome do Hábito</label>
      <input
        type="text"
        class="form-control theme-input"
        [(ngModel)]="formData.title"
        name="title"
        required
      />
    </div>
    <div class="mb-2">
      <label class="form-label dialog-label">Ícone (Emoji)</label>
      <input
        type="text"
        class="form-control theme-input text-center"
        [(ngModel)]="formData.icon"
        name="icon"
        required
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions border-0">
  <button type="button" class="btn btn-cancel" (click)="onClose()">Cancelar</button>
  <button
    type="button"
    class="btn btn-habit-primary px-4 shadow-sm"
    [disabled]="!formData.title || !formData.icon"
    (click)="onSave()"
  >
    {{ data?.id ? 'Salvar' : 'Criar' }}
  </button>
</mat-dialog-actions>
