@use 'variables' as global;

.card {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateY(-3px);
  }
}

.btn-primary {
  background-color: global.$primary-color !important;
  border-color: global.$primary-color !important;
}
