@use '@angular/material' as mat;
@use 'variables' as global;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color-scheme: light;
  background-color: global.$bg-color;
  color: global.$text-main;
  font-family: 'Segoe UI', Roboto, sans-serif;
}
